.Btn-pages{
	text-align: right;
	padding: 10px 15px;
	margin: 0 25px;
	border-radius: 4px;
	background: linear-gradient(193.68deg, rgb(189 124 25) 0.68%, rgb(121 12 107) 100.48%);
}

.Btn-pages:hover{
	background: linear-gradient(193.68deg, rgb(25 189 167) 0.68%, rgb(121 12 107) 100.48%);
}

a{
	color: #ffffff;
	text-decoration: none;
	font-size: 1em;
	margin: 5px;
}

a:visited {
	color: #ffffff;
}

i{
	width: 80px;
}

#link-insta{
	color: rgb(121 12 107);
}